div#sun
div.card.chegadas-card
  div.text
    h1 Ultimos a chegar
    table.table.table-bordered.chegadas
      thead
        tr
          th #
          th Nome
          th Horario
      tbody
        tr
          th
            img(src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png")
          th Luis Gustavo Beligante
          th 15:00h
div(style="display:none").card.person
  div.circle-card
  div.text
    h4 Bem-Vindo Sr(a)!
    h1.name 
  div.horario
    pre.horario-chegada
div#floor
  div#ocean
