#sun
.card.chegadas-card
  .text
    h1 Ultimos a chegar
    table.table.table-bordered.chegadas
      thead
        tr
          th #
          th Nome
          th Horario
      tbody
        tr
          td
            img(src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png")
          td Luis Gustavo Beligante
          td.moment(data-timestamp="1459351619105") 
.hide.card.person
  .circle-card
  .text
    h4 Bem-Vindo Sr(a)!
    h1.name 
  .horario
    pre.horario-chegada
#floor
  #ocean
