doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/static/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body!= body
    script(src='/javascripts/static/jquery-1.12.1.js')
    script(src='/javascripts/static/bootstrap.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/main.js')
